body{
    background-color: black;
    color: aliceblue;
}
/* .bg{
    background-image: url('../cloud.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;

} */
